https://www.linkedin.com/learning/algorithmic-trading-and-finance-models-with-python-r-and-stata-essential-training/importing-data-in-python

In [6]:
import pandas as pd
from pandas_datareader import data

In [7]:
df = data.get_data_yahoo('MSFT','2018-01-01','2019-01-01')

In [8]:
df.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  86.309998  85.500000  86.129997  85.949997  22483800.0  82.383636
2018-01-03  86.510002  85.970001  86.059998  86.349998  26061400.0  82.767044
2018-01-04  87.660004  86.570000  86.589996  87.110001  21912000.0  83.495522
2018-01-05  88.410004  87.430000  87.660004  88.190002  23407100.0  84.530701
2018-01-08  88.580002  87.599998  88.199997  88.279999  22113000.0  84.616966