<a href="https://colab.research.google.com/github/kathuman/Python-Experiments/blob/main/Python-Finance/201231_Best_Portfolio_Finder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas_datareader as pdr
import pandas as pd

In [2]:
start_date = '2019-01-01'
end_date = '2020-12-23'
tickers = ['NZYM-B.CO', 'DANSKE.CO', 'NOVO-B.CO', 'ORSTED.CO']
for idx, ticker in enumerate(tickers):
  data_ticker = pdr.DataReader(ticker, 'yahoo', start_date, end_date)['Close']
  if idx == 0:
    data = data_ticker
  else:
    data = pd.concat([data, data_ticker], axis=1)
data.columns = tickers
data

             NZYM-B.CO   DANSKE.CO   NOVO-B.CO    ORSTED.CO
Date
2019-01-02  288.100006  128.699997  304.299988   428.100006
2019-01-03  285.500000  128.399994  310.000000   436.000000
2019-01-04  293.100006  133.850006  312.649994   438.299988
2019-01-07  292.500000  133.500000  312.399994   439.899994
2019-01-08  298.899994  132.850006  314.500000   440.200012
...                ...         ...         ...          ...
2020-12-17  342.600006   96.099998  437.450012  1107.000000
2020-12-18  350.200012   97.779999  446.399994  1110.500000
2020-12-21  349.899994   99.820000  437.149994  1125.500000
2020-12-22  351.700012   98.480003  432.000000  1167.500000
2020-12-23  348.899994  101.400002  426.000000  1189.500000

[494 rows x 4 columns]