<a href="https://colab.research.google.com/github/kathuman/Python-Experiments/blob/main/Python-Finance/.ipynb_checkpoints/201212_Financial%20Analysis_Linkedin_Course-checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.linkedin.com/learning/algorithmic-trading-and-finance-models-with-python-r-and-stata-essential-training/importing-data-in-python

In [1]:
import pandas as pd
from pandas_datareader import data

In [5]:
df = data.get_data_yahoo('AAPL','2018-01-01','2019-01-01')

In [11]:
df.head()

                 High        Low       Open  ...       Volume  Adj Close    Change
Date                                         ...
2018-01-02  43.075001  42.314999  42.540001  ...  102223600.0  41.105534 -0.524998
2018-01-03  43.637501  42.990002  43.132500  ...  118071600.0  41.098373  0.075001
2018-01-04  43.367500  43.020000  43.134998  ...   89738400.0  41.289268 -0.122501
2018-01-05  43.842499  43.262501  43.360001  ...   94640000.0  41.759361 -0.389999
2018-01-08  43.902500  43.482498  43.587502  ...   82271200.0  41.604263  0.000000

[5 rows x 7 columns]

In [7]:
df.describe()

             High         Low        Open       Close        Volume   Adj Close
count  251.000000  251.000000  251.000000  251.000000  2.510000e+02  251.000000
mean    47.748526   46.795877   47.277859   47.263357  1.360803e+08   45.483717
std      5.146255    5.109996    5.126908    5.148465  5.850376e+07    5.057749
min     37.887501   36.647499   37.037498   36.707500  5.005560e+07   35.563320
25%     43.737499   43.005001   43.356251   43.285000  9.418680e+07   41.541780
50%     46.849998   46.235001   46.572498   46.512501  1.266524e+08   44.811604
75%     52.343750   51.446249   51.920000   51.940001  1.630124e+08   50.084505
max     58.367500   57.445000   57.695000   58.017502  3.849868e+08   56.013641

In [8]:
df.to_csv('aaptl_02_04.csv')

In [10]:
df['Change'] = df.Open-df.Close